<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">

      <div id="title">
        <label><strong> Title </strong></label>
        <div>
          <%= @article.title %>
        </div>
      </div>

      <br>

      <div id="content">
        <label><strong> Content </strong></label>
        <div>
          <%= @article.content %>
        </div>
      </div>


      <br><br><br>

      <div>
        <label><strong> Comments </strong></label>
        <div>
          <%= render 'comments/form' %>
        </div>

        <% if @article.comments_count >= 1 %>
          <small class="form-text text-muted"> <%= @article.comments_count %> comments from this article </small>

          <div id="comments" class="onlyComment">
            <% @comments.each do |c| %>
              <blockquote class="blockquote text-right">
                <p class="mb-0">
                  <%= c.content %>
                </p>

                <footer class="blockquote-footer">
                  <%= c.user.name %>
                </footer>

              </blockquote>
            <% end %>
          </div>

        <% end %>

      </div>


    </div>
  </div>
</div>
